/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #050505;
    color: white;
    scroll-behavior: smooth;
  }
  
  /* Correction pour assurer que le noir est bien noir partout */
  body {
    background-color: #050505;
    color: white;
  }
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse-slow {
    0%, 100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.8;
      transform: scale(0.98);
    }
  }
}